#nav {

  @include clearfix;
  @include background-image(
    linear-gradient(
      top, 
      lighten($nav-background, 10),
      $nav-background
    )
  );
  width: 100%;
  
  .navbar {
    @include container;

    .brand {
      @include span(4);

      float: left;
      font-weight: $bold;
      font-family: $head-font;
      text-align: center;
      text-transform: uppercase;
      background: $nav-brand-bg;

      a {
        color: $nav-foreground;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: remcalc(10px);
        font-size: 1.1em;
        span {
          visibility: hidden;
        }
        @include breakpoint($small) {
          span {
            visibility: visible;
          } // span
        } // $smal
      } // a
    } // .brand

    ul {
      @include span(8 at 4 of 12);

      li {
        float: left;
    
        a {
          // icon styles
          @include background-size(remcalc(35px));
          background-repeat: no-repeat;
          background-position: 2px;
          text-decoration: none;
          display: inline-block;
          padding: .625em 1.125em; 
          color: $nav-foreground;
          font: $main-font;
          font-size: remcalc(16px);
          text-decoration: none;
          &::after {
            content: '\000a0';
            display: inline-block;
          }
          span {
            /*display: inline-block;*/
            visibility: hidden;
          }

          &.info {
            @include background-image(image-url('icons/info.png'));
          }
          &.rooms {
            @include background-image(image-url('icons/rooms.png'));
          }
          &.dining {
            @include background-image(image-url('icons/dining.png'));
          }
          &.events {
            @include background-image(image-url('icons/events.png'));
          }
          &.attractions {
            @include background-image(image-url('icons/attractions.png'));
          }
          &.info {
            @include background-image(image-url('icons/info.png'));
          }

          &:hover {
            background: $nav-hover;
            color: $blue;
          }

          @include breakpoint($small) {
            visibility: visible;
            padding: remcalc(10px 10px 10px 45px);
          } // breakpoint

          @include breakpoint($medium-large) {
            span {
              visibility: visible;
            }
            a.icon {
              background-image: none;
            }
          }

        } // a
      } // li
    } // ul
  } // .navbar
} // #nav
