#welcome {

  @include background-image(
    linear-gradient(top, $yellow, $orange)
  );

  article {
    padding-top: 0;
    padding-bottom: 2em;
    text-align: center;
    @include container(70%);
    /*@include breakpoint($medium) {*/
      /*@include container(80%);*/
    /*}*/
  } // article

  h1 {
    font-weight: $normal;
    line-height: 1.5em;
    color: lighten($orange, 30);
    font-size: 2em;
  } // h1

  .gallery {
    @include clearfix;

    img {
      display: none;
    } // img

    @media #{$medium-only} {
      img {
        @include border-radius(20%);
        @include gallery(1 of 4);
        display: inline;
        &.hidesm { 
          display: none;
        } 
      } // img
      h1 {
        padding: .625em 0;
      } // h1
    } // $medium-only
   

    @media #{$large-up} {
      img {
        @include border-radius(20%);
        @include gallery(1 of 5);
        display: inline;
      } // img
      h1 {
        padding: .625em 0;
      } // h1
    } // $large-up


  }


} // welcome
