html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-weight: $thin;
  font-size: 1em;;
  line-height: 1.5em;
  background: $background-color;
  color: $type-default;
}

#{headings()} {
  font: $head-font;
  color: $head-color;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

h1 {
  font-size: 2.75em;
}

p {
  font-weight: $thin;
  /*padding-bottom:*/
}
