body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scene {
  position: relative;
  padding: 1.25em 0;

}

article {
  @include container(95%);

}

@media #{$medium-only} {
  article {
    @include container;
  }

} // medium-only

@media #{$large-up} {

  padding: 10% 0;
  
} // large-up
