@import url(http://fonts.googleapis.com/css?family=Exo:200,400,600,800);
/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 14, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*https://gist.github.com/rizkysyazuli/b83d378a44bb97ef82d1*/
/* line 1, ../components/sass/_base.scss */
html {
  font-size: 100%; }

/* line 5, ../components/sass/_base.scss */
body {
  font-family: "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em;
  background: #FFFFFF;
  color: #333333; }

/* line 14, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0e83a0;
  font-weight: 600; }

/* line 20, ../components/sass/_base.scss */
strong {
  font-weight: 600; }

/* line 24, ../components/sass/_base.scss */
h1 {
  font-size: 2.75em; }

/* line 28, ../components/sass/_base.scss */
p {
  font-weight: 200;
  /*padding-bottom:*/ }

/* line 1, ../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%; }

/* line 7, ../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 1.25em 0; }

/* line 13, ../components/sass/_layout.scss */
article {
  /*@include container();*/ }

/*@media only screen and (min-width: 30.063em) {*/
/* line 19, ../components/sass/_layout.scss */
article {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  article:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 65, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25); }
  /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold; }
  /* line 67, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red; }
  /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover ~ article, head:hover ~ body article {
    position: relative; }
    /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ article:before, head:hover ~ body article:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
      background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }

/*} // medium-only*/
@media only screen and (min-width: 48.063em) {
  /*padding: 10% 0;*/ }
/* line 1, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhM2Y5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1YjI5ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3f90), color-stop(100%, #45b29d));
  background-image: -moz-linear-gradient(top, #3a3f90, #45b29d);
  background-image: -webkit-linear-gradient(top, #3a3f90, #45b29d);
  background-image: linear-gradient(to bottom, #3a3f90, #45b29d);
  padding: 2em;
  color: #FFFFFF; }
  /* line 11, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo h1, #hotelinfo h2, #hotelinfo h3, #hotelinfo h4, #hotelinfo h5, #hotelinfo h6 {
    color: #FFFFFF; }
  /* line 15, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo h1 {
    font-size: 3em;
    font-weight: 200;
    line-height: 1.2em; }
  /* line 21, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo h2 {
    font-size: 1.3em;
    line-height: 1.4em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: #b5b7e1; }
  /* line 29, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo p,
  #hotelinfo li {
    font-size: 1em;
    line-height: 1.5em; }
  /* line 35, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo p {
    margin-bottom: .5em; }
  /* line 39, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo ul {
    list-style: square;
    margin-left: 10%;
    line-height: 1.1em;
    margin-bottom: 0.45em; }
  /* line 46, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo #usefulinfo {
    overflow: hidden;
    *zoom: 1; }
    @media only screen and (min-width: 30.063em) and (max-width: 48em) {
      /* line 50, ../components/sass/modules/_hotelinfo.scss */
      #hotelinfo #usefulinfo .checklist {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-left: 5%;
        padding-right: 5%; } }
    @media only screen and (min-width: 48.063em) {
      /* line 57, ../components/sass/modules/_hotelinfo.scss */
      #hotelinfo #usefulinfo section {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 3.33333%;
        padding-right: 3.33333%; } }
  /* line 65, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo #arrivalinfo ul {
    margin: 0; }
  /* line 68, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo #arrivalinfo li {
    list-style: none;
    border-top: 1px solid #FFFFFF;
    padding: .5em 0;
    margin-left: 0; }
    /* line 73, ../components/sass/modules/_hotelinfo.scss */
    #hotelinfo #arrivalinfo li:first-child {
      border: none; }
  /* line 77, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo #arrivalinfo strong {
    color: #EFC94C; }
  /* line 82, ../components/sass/modules/_hotelinfo.scss */
  #hotelinfo #greenprogram {
    padding: 3%;
    border: 1px solid #FFFFFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-top: .6em;
    background-color: rgba(26, 68, 60, 0.5); }
    @media only screen and (min-width: 64.063em) {
      /* line 82, ../components/sass/modules/_hotelinfo.scss */
      #hotelinfo #greenprogram {
        background-image: url('../../images/misc/greenplanet.png?1413763094');
        -moz-background-size: 400px;
        -o-background-size: 400px;
        -webkit-background-size: 400px;
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: 120% 50%;
        padding-right: 27%; } }
    /* line 101, ../components/sass/modules/_hotelinfo.scss */
    #hotelinfo #greenprogram h2 {
      color: #FFFFFF; }

/* line 2, ../components/sass/modules/_intro.scss */
header .fullheight {
  background: url('../../images/hotel/splash_hotelphoto.jpg?1413763094') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  /* line 5, ../components/sass/modules/_intro.scss */
  header .fullheight .hgroup {
    padding: 6.25rem 0; }
  /* line 9, ../components/sass/modules/_intro.scss */
  header .fullheight h1 {
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: 800;
    line-height: 4rem;
    text-shadow: #333333 -2px -2px 1.25rem;
    text-align: center; }
  /* line 18, ../components/sass/modules/_intro.scss */
  header .fullheight h2 {
    display: block;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.25);
    width: 60%;
    max-width: 12.5rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    border: 1px solid #FFFFFF;
    margin-top: 0.9375rem;
    margin-bottom: 0.625rem; }
  /* line 33, ../components/sass/modules/_intro.scss */
  header .fullheight p {
    text-align: center; }
    /* line 36, ../components/sass/modules/_intro.scss */
    header .fullheight p img {
      padding-top: 3.125rem;
      max-width: 3.125rem; }

/* line 1, ../components/sass/modules/_nav.scss */
#nav {
  overflow: hidden;
  *zoom: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNWM3MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2MzY0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5c71), color-stop(100%, #063642));
  background-image: -moz-linear-gradient(top, #0a5c71, #063642);
  background-image: -webkit-linear-gradient(top, #0a5c71, #063642);
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
  width: 100%; }
  /* line 13, ../components/sass/modules/_nav.scss */
  #nav .navbar {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; }
    /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    #nav .navbar:after {
      content: " ";
      display: block;
      clear: both; }
    /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #nav .navbar, head:hover ~ body #nav .navbar {
      position: relative; }
      /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
      head:hover ~ #nav .navbar:before, head:hover ~ body #nav .navbar:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: " ";
        z-index: 998;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
        background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-size: 8.33333%;
        background-origin: content-box;
        background-clip: content-box;
        background-position: left top; }
    /* line 16, ../components/sass/modules/_nav.scss */
    #nav .navbar .brand {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.33333%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      float: left;
      font-weight: 600;
      font-family: 200 "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      text-transform: uppercase;
      background: #DF4848; }
      /* line 26, ../components/sass/modules/_nav.scss */
      #nav .navbar .brand a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding-top: .625em;
        padding-bottom: .625em;
        font-size: 1.1em; }
        /* line 34, ../components/sass/modules/_nav.scss */
        #nav .navbar .brand a span {
          display: none; }
        @media only screen and (min-width: 30.063em) {
          /* line 38, ../components/sass/modules/_nav.scss */
          #nav .navbar .brand a span {
            display: inline; } }
    /* line 45, ../components/sass/modules/_nav.scss */
    #nav .navbar ul {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 66.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; }
      /* line 48, ../components/sass/modules/_nav.scss */
      #nav .navbar ul li {
        float: left; }
        /* line 51, ../components/sass/modules/_nav.scss */
        #nav .navbar ul li a {
          -moz-background-size: 2.1875rem;
          -o-background-size: 2.1875rem;
          -webkit-background-size: 2.1875rem;
          background-size: 2.1875rem;
          background-repeat: no-repeat;
          background-position: 2px;
          text-decoration: none;
          display: inline-block;
          /*padding: .625em 1.125em; */
          padding: .625em 0;
          color: #FFFFFF;
          font: 200 "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1rem;
          text-decoration: none; }
          /* line 64, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a::after {
            content: '\000a0';
            display: inline-block; }
          /* line 68, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a span {
            /*display: inline-block;*/
            visibility: hidden; }
          /* line 73, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.info {
            background-image: url('../../images/icons/info.png?1413763094'); }
          /* line 76, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.rooms {
            background-image: url('../../images/icons/rooms.png?1413763094'); }
          /* line 79, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.dining {
            background-image: url('../../images/icons/dining.png?1413763094'); }
          /* line 82, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.events {
            background-image: url('../../images/icons/events.png?1413763094'); }
          /* line 85, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.attractions {
            background-image: url('../../images/icons/attractions.png?1413763094'); }
          /* line 88, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a.info {
            background-image: url('../../images/icons/info.png?1413763094'); }
          /* line 92, ../components/sass/modules/_nav.scss */
          #nav .navbar ul li a:hover {
            background: #EFC94C;
            color: #063642; }
          @media only screen and (min-width: 30.063em) {
            /* line 98, ../components/sass/modules/_nav.scss */
            #nav .navbar ul li a span {
              padding: 0.625rem 0.625rem 0.625rem 2.8125rem; } }
          @media (min-width: 54.0625em) {
            /* line 104, ../components/sass/modules/_nav.scss */
            #nav .navbar ul li a span {
              visibility: visible; }
            /* line 107, ../components/sass/modules/_nav.scss */
            #nav .navbar ul li a a.icon {
              background-image: none; } }

/* line 3, ../components/sass/modules/_rooms.scss */
#rooms h1 {
  font-size: 1.5em; }
/* line 7, ../components/sass/modules/_rooms.scss */
#rooms header {
  margin-bottom: 1.5em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.16667%;
  padding-right: 9.16667%; }
  /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #rooms header:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover ~ #rooms header, head:hover ~ body #rooms header {
    position: relative; }
    /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #rooms header:before, head:hover ~ body #rooms header:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
      background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover ~ #rooms header, head:hover ~ body #rooms header {
    position: relative; }
    /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #rooms header:before, head:hover ~ body #rooms header:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
      background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  @media only screen and (min-width: 30.063em) {
    /* line 7, ../components/sass/modules/_rooms.scss */
    #rooms header {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 9.16667%;
      padding-right: 9.16667%; }
      /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      #rooms header:after {
        content: " ";
        display: block;
        clear: both; }
      /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
      head:hover ~ #rooms header, head:hover ~ body #rooms header {
        position: relative; }
        /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
        head:hover ~ #rooms header:before, head:hover ~ body #rooms header:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: " ";
          z-index: 998;
          background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
          background-size: 100%;
          background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
          background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-size: 8.33333%;
          background-origin: content-box;
          background-clip: content-box;
          background-position: left top; }
      /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
      head:hover ~ #rooms header, head:hover ~ body #rooms header {
        position: relative; }
        /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
        head:hover ~ #rooms header:before, head:hover ~ body #rooms header:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: " ";
          z-index: 998;
          background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
          background-size: 100%;
          background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
          background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
          background-size: 8.33333%;
          background-origin: content-box;
          background-clip: content-box;
          background-position: left top; } }
/* line 20, ../components/sass/modules/_rooms.scss */
#rooms .room {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  padding: 12.5em 0; }
  /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #rooms .room:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover ~ #rooms .room, head:hover ~ body #rooms .room {
    position: relative; }
    /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #rooms .room:before, head:hover ~ body #rooms .room:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
      background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
  head:hover ~ #rooms .room, head:hover ~ body #rooms .room {
    position: relative; }
    /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #rooms .room:before, head:hover ~ body #rooms .room:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
      background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 8.33333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  @media only screen and (min-width: 48.063em) {
    /* line 20, ../components/sass/modules/_rooms.scss */
    #rooms .room {
      padding-left: 59.16667%;
      padding-right: 9.16667%; } }
/* line 31, ../components/sass/modules/_rooms.scss */
#rooms .content {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.25em; }
  /* line 36, ../components/sass/modules/_rooms.scss */
  #rooms .content h1 {
    color: #DF4848; }
/* line 41, ../components/sass/modules/_rooms.scss */
#rooms #piccadilly {
  background-image: url('../../images/hotel/rooms_piccadilly.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
/* line 48, ../components/sass/modules/_rooms.scss */
#rooms #cambridge {
  background-image: url('../../images/hotel/rooms_cambridge.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
/* line 55, ../components/sass/modules/_rooms.scss */
#rooms #westminster {
  background-image: url('../../images/hotel/rooms_westminster.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
/* line 62, ../components/sass/modules/_rooms.scss */
#rooms #oxford {
  background-image: url('../../images/hotel/rooms_oxford.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
/* line 69, ../components/sass/modules/_rooms.scss */
#rooms #victoria {
  background-image: url('../../images/hotel/rooms_victoria.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
/* line 76, ../components/sass/modules/_rooms.scss */
#rooms #manchester {
  background-image: url('../../images/hotel/rooms_manchester.jpg?1413763094');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* line 1, ../components/sass/modules/_welcome.scss */
#welcome {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzk0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyN2EzZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efc94c), color-stop(100%, #e27a3f));
  background-image: -moz-linear-gradient(top, #efc94c, #e27a3f);
  background-image: -webkit-linear-gradient(top, #efc94c, #e27a3f);
  background-image: linear-gradient(to bottom, #efc94c, #e27a3f); }
  /* line 7, ../components/sass/modules/_welcome.scss */
  #welcome article {
    padding-top: 0;
    padding-bottom: 2em;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    /*@include breakpoint($medium) {*/
    /*@include container(80%);*/
    /*}*/ }
    /* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    #welcome article:after {
      content: " ";
      display: block;
      clear: both; }
    /* line 71, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
    head:hover ~ #welcome article, head:hover ~ body #welcome article {
      position: relative; }
      /* line 74, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_background.scss */
      head:hover ~ #welcome article:before, head:hover ~ body #welcome article:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: " ";
        z-index: 998;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
        background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
        background-size: 8.33333%;
        background-origin: content-box;
        background-clip: content-box;
        background-position: left top; }
  /* line 17, ../components/sass/modules/_welcome.scss */
  #welcome h1 {
    font-weight: 400;
    line-height: 1.5em;
    color: #f6d6c4;
    font-size: 2em; }
  /* line 24, ../components/sass/modules/_welcome.scss */
  #welcome .gallery {
    overflow: hidden;
    *zoom: 1; }
    /* line 27, ../components/sass/modules/_welcome.scss */
    #welcome .gallery img {
      display: none; }
    @media only screen and (min-width: 30.063em) and (max-width: 48em) {
      /* line 32, ../components/sass/modules/_welcome.scss */
      #welcome .gallery img {
        -moz-border-radius: 20%;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 2.5%;
        padding-right: 2.5%;
        display: inline; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(4n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(4n + 2) {
          margin-left: 25%;
          margin-right: -100%;
          clear: none; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(4n + 3) {
          margin-left: 50%;
          margin-right: -100%;
          clear: none; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(4n + 4) {
          margin-left: 75%;
          margin-right: -100%;
          clear: none; }
        /* line 36, ../components/sass/modules/_welcome.scss */
        #welcome .gallery img.hidesm {
          display: none; }
      /* line 40, ../components/sass/modules/_welcome.scss */
      #welcome .gallery h1 {
        padding: .625em 0; } }
    @media only screen and (min-width: 48.063em) {
      /* line 47, ../components/sass/modules/_welcome.scss */
      #welcome .gallery img {
        -moz-border-radius: 20%;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 20%;
        float: left;
        padding-left: 2%;
        padding-right: 2%;
        display: inline; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(5n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(5n + 2) {
          margin-left: 20%;
          margin-right: -100%;
          clear: none; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(5n + 3) {
          margin-left: 40%;
          margin-right: -100%;
          clear: none; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(5n + 4) {
          margin-left: 60%;
          margin-right: -100%;
          clear: none; }
        /* line 66, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
        #welcome .gallery img:nth-child(5n + 5) {
          margin-left: 80%;
          margin-right: -100%;
          clear: none; }
      /* line 52, ../components/sass/modules/_welcome.scss */
      #welcome .gallery h1 {
        padding: .625em 0; } }
